@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  background:
    -webkit-linear-gradient(45deg, hsla(261, 99%, 87%, 1) 0%, hsla(261, 99%, 87%, 0) 70%),
    -webkit-linear-gradient(315deg, hsla(272, 99%, 92%, 1) 10%, hsla(272, 99%, 92%, 0) 80%),
    -webkit-linear-gradient(225deg, hsla(209, 97%, 77%, 1) 10%, hsla(209, 97%, 77%, 0) 80%),
    -webkit-linear-gradient(135deg, hsla(305, 99%, 95%, 1) 100%, hsla(305, 99%, 95%, 0) 70%);
  background:
    linear-gradient(45deg, hsla(261, 99%, 87%, 1) 0%, hsla(261, 99%, 87%, 0) 70%),
    linear-gradient(135deg, hsla(272, 99%, 92%, 1) 10%, hsla(272, 99%, 92%, 0) 80%),
    linear-gradient(225deg, hsla(209, 97%, 77%, 1) 10%, hsla(209, 97%, 77%, 0) 80%),
    linear-gradient(315deg, hsla(305, 99%, 95%, 1) 100%, hsla(305, 99%, 95%, 0) 70%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}





.navbar {
  background: #fff;
  margin-bottom: 20px;
  box-shadow: 0 5px 12px rgba(0,0,0,.5);
}

.navbar img {
  height: 40px;
  width: 50px;
}

.search-bar {
  border-radius: 1px;
  background: #fff;
}

.search-bar .form-control {
  border-radius: 2px;
  width: 80%
}
.search-bar .btn {
  border-radius: 2px;
  border-color: #d3d3d3;
  background: #f8f8f8;
  width: 20%;
  margin-left: -1px;
}

.search-bar .btn:hover {
  border-color: #c6c6c6;
  background: #f0f0f0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.10);
}

.player {
  box-shadow: 0px 15px 20px 1px rgba(0,0,0,0.75);

}

.video-player-details {
  background: #fff;
  padding: 8px;
  border: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  margin-top: 30px;
}

.video-list {
  background: #fff;
  padding: 8px;
  border: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.video-list-entry {
  font-size: 16px;
  padding: 8px;
}

.video-list-entry-title {
  font-weight: bold;
}

.video-list-entry-title:hover {
  color: #e62117;
  cursor: pointer;
}

.video-list-entry-detail {
  font-size: 12px;
  color: #999;
}